.gradle
gradle/
**/local.properties
/.idea/workspace.xml
/.idea/libraries
.idea
.DS_Store
/build
**/build
*.iml
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
/buck-cache
/buck-out
/.buckd